<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../img/m3.ico" type="image/ico">
        <link rel="shortcut icon" href="../img/m3.ico" type="image/ico">
        <title>Tinder de Mascota - Editar perfil</title>

        <!-- Bootstrap core CSS -->
        <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,9001" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../css/one-page-wonder.min.css" rel="stylesheet">

    </head>

    <body>

        <!-- Navigation -->
          <nav th:replace="fragments/nav-bar :: nav-bar"> </nav>


        <header >

            <h1 style="margin-top: 80px; text-align: center">Mis mascotas</h1> 

        </header>

        <section>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12 order-lg-12">

                        <table class="table table-light table-hover" style="text-align: center">

                            <thead>
                                <tr class="bg-black text-white"> 
                                    <th>Foto</th>
                                    <th>Nombre</th>
                                    <th>Sexo</th>
                                    <th>Tipo</th>
                                    <th>Acciones</th>
                                </tr> 
                            </thead>

                            <tbody>
                                <tr th:each=" mascota : ${mascotas}" >
                                    <td>
                                        <img th:if="${mascota.foto != null}" class="img-fluid rounded-circle" th:src="${'/foto/mascota/' + mascota.id}" alt="" style="max-height: 60px; border-radius: 100%;">
                                        <img  th:if="${mascota.foto == null}"   class="img-fluid rounded-circle" src="../img/m1.jpeg" alt="" style="max-height: 60px; border-radius: 100%;">
                                    </td>    
                                    <td th:text="${mascota.nombre}"></td>
                                    <td th:text="${mascota.sexo}"></td>
                                    <td th:text="${mascota.tipo}"></td>
                                    <td> 
                                        <a th:href="@{/mascota/editar-perfil(idusuario=__${session.usuariosession.id}__)}" class="btn btn-light btn-outline-dark">Editar</a>
                                        <a th:href="@{/mascota/editar-perfil(id=__${mascota.id}__,accion=eliminar)}" class="btn btn-danger">Eliminar</a>
                                    </td>    
                                </tr>
                            </tbody>

                        </table>
                        <a style="margin: 0 auto;" href="/inicio" class="btn btn-dark">Volver</a>
                    </div>
                </div>
            </div>
        </section>


        <!-- Footer -->
        <footer class="py-5 bg-black">
            <div class="container">
                <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2019</p>
            </div>
            <!-- /.container -->
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    </body>

</html>